@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes cardIn {
  0% {
    transform: translateX(750px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes cardOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(750px);
  }
}

.cardInAnimation {
  animation: cardIn 1s ease-in-out;
}
